body {
    background: #000;
    font-family: 'Roboto Slab', serif;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

h1 {
    max-width: inherit;
    color: white;
   font-size: 10vw;
}
h2 {
    color: white;
   font-size: 4vw;
   font-weight: 100;

}
#photos {
    width: 100%;
    margin-top: 32px;
   
}
#photos .item {
  float: left;
}

#photos .item img {    
    float: left;
    height: 400px;
    width: auto;
    padding-left: 32px;
}
#photos .item p {
    float: left;
    max-width: 250px;
    color: white;
    font-size: 2vw;
    font-weight: 100;
    text-align: left;
    line-height: 1.5EM;
}
#contactRow {
    position: relative;
    margin-bottom: 64px;
    top: 32px;
    width: 100%;    
}
#contactRow #googlebtn {
    height: 60%;
    filter: brightness(4);
    float: left;
    vertical-align: middle;
}
#contactRow h2 { float: left;
    margin-left: 32px;

}#contactRow h2:first-child { float: left;
    margin-left: 0;
    
}
#contactRow a {
    margin-left: 32px; 
    float: left;
    color: white;
    text-decoration: none;
    height: 100px;
    flex :1 ;
    
    font-weight: 100;
    font-size: 4vw;
}
